@import "settings";
@import "foundation";

@font-face {
	font-family: 'Open Sans';
	@import url('https://fonts.googleapis.com/css?family=Open+Sans');
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 4px;
    margin-top: 5px;
}
 
/* Button */
::-webkit-scrollbar-button {
	height: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(45, 50, 57, 0.8)
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(64, 71, 79, 0.4)
}

body {
	font-family: 'Open Sans', sans-serif;
}

.title-bar {
	background-color: #2d3239;
	color: white;
}

.grid-content {
	padding:0.5rem;
}

.accordion {
	border: 0;
	position: relative;

	& .caret{
		position: absolute;
		right: 8px;
		top: 8px;
		width: 12px !important;
		transition: all 0.3s ;
	}

	& .accordion-item.is-active ~ .caret {
		transform: rotate(-180deg);
	}
}

.datasource {
	box-shadow: inset -74px 0px 46px -88px rgba(0,0,0,0.75);

	& .accordion-content {
		padding: 5px;
		background-color: rgba(230,230,230, 0.6);
		border-radius: 5px;
	}

	& .accordion-title{
		color: white;
		border-radius: 5px;
		font-size: 12px;
		letter-spacing: 2px;
		text-transform: uppercase;
		padding: 10px;
	}

	& .datasource {
		margin: 8px 0 8px 0;
		& > .accordion-title{
			background-color: #40474f;
		}
	}

	& .dataset,{
		margin: 0 0 5px 0;
		& > .accordion-title{
			background-color: #52b847;
		}
	}

	& .measures-wrapper, & .dimensions-wrapper {
		& > .accordion-title{
			background-color: rgba(230,230,230, 0.6);
			color: black;
		}

		&.is-active > .accordion-title {
			border-radius: 0;
			border-bottom: 1px solid black;
		}
	}

	& .measure, & .dimension {
		cursor: grab;
		&.ui-draggable-dragging{
			cursor: grabbing;
			position: fixed !important;
		}
	}

	& .measure p, & .dimension p{
		&:hover{
			border: 1px dashed #666;
		}
		padding: 0 15px 0 15px;
		font-size: 13px;
		border: 1px dashed #BBB;
		border-radius: 4px;
		margin:8px;
		background-color: rgba(230,230,230, 1);
	}
}

.accordion-wrapper, .layers-wrapper {
	width: 100%;
	padding: 5px;
}

.layers-wrapper {
	& .create-layer	{
		&:hover {
			border-color: #777;
			color: #666;
		}

		width: 100%;
		text-align: center;
		border-radius: 5px;
		border: 1px dashed #AAA;
		color: #999;
		margin: 0 0 10px 0;
		cursor: pointer;

		& p {
			margin: 0;
			font-size: 13px;
		}
	}

	& .layer {
		width: 100%;
		background-color: rgba(215, 215, 215, 0.8);
		border-radius: 5px;
		padding: 5px 15px 5px 15px;
		margin: 0 0 10px 0;

		& label {
			display: inline-block;
		}

		& .delete {
			float:right;
		}

		& .reset, & .delete {
			color: #40474f;
			cursor: pointer;
			display: inline-block;
		}

		& .measure, & .dimension {
			border: 1px dashed #AAA;
			border-radius: 8px;
			padding: 5px 0;
			margin: 0 0 0 5px;
			color: #AAA;
			font-size: 12px;
			display: inline-block;
			width: 100%;
			text-align: center;

			&.active {
				border: 1px solid #40474f;
				color: #40474f;
			}
		}
	}
}

.task-title .title-caps {
	color: #777;
	font-size: 15px;
	border-bottom: 2px solid #999;
	padding: 10px;
}


.title-caps {
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}