!!! 5
%html{:lang => "en", "ng-app" => "gauge"}
    %head
        %meta{:charset => "utf-8"}
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
        %title= "Foundation for Apps"
        %link{:href => "./assets/css/app.css", :rel => "stylesheet", :type => "text/css"}
        %script{:src => "./assets/js/foundation.js"}
        %script{:src => "./assets/js/templates.js"}
        %script{:src => "./assets/js/app.js"}
        %script{:src => "./assets/js/components.js"}
    %body.grid-frame.vertical
        .grid-block.vertical{:style => "overflow: hidden"}
            .title-bar
                .center.title.title-caps Gauge Builder
        / .grid-block.vertical{:style => "overflow: hidden"}
        /     .task-title
        /         %h4.title-caps Datasource Filtering
        .grid-block.vertical
            .grid-frame{:vertical => true, "ng-view" => true}
