.accordion-wrapper.datasources
  %zf_accordion{:collapsible => "true", "multi-open" => "true", "ng-repeat" => "datasource in daCtrl.datasources"}
    %zf_accordion_item.datasource{:title => "{{datasource.name}}"}
      %zf_accordion{"auto-open" => "true", :collapsible => "true", "multi-open" => "true", "ng-repeat" => "dataset in datasource.datasets"}
        %zf_accordion_item.dataset{:title => "{{dataset.name}}"}
          %zf_accordion{"auto-open" => "false", :collapsible => "true", "multi-open" => "true"}
            %zf_accordion_item.measures-wrapper{:title => "Measures"}
              .measure{"ng-model" => "measure", "ng-repeat" => "measure in dataset.measures", "data-drag" => "true", "data-jqyoui-options" => "{revert: 'invalid', helper: 'clone', cursor: 'dragging'}", "jqyoui-draggable" => "{index: {{$index}}, placeholder: 'keep'}"}
                %p {{measure}}
            %zf_accordion_item.dimensions-wrapper{:title => "Dimensions"}
              .dimension{"ng-model" => "dimension", "ng-repeat" => "dimension in dataset.dimensions", "data-drag" => "true", "data-jqyoui-options" => "{revert: 'invalid', helper: 'clone', cursor: 'dragging'}", "jqyoui-draggable" => "{index: {{$index}}, placeholder: 'keep'}"}
                %p {{dimension}}
        %img.iconic-color-secondary.caret{"data-direction" => "bottom", "zf-iconic" => " ", :icon => "Chevron", :size => "small"}
    %img.iconic-color-secondary.caret{"data-direction" => "bottom", "zf-iconic" => "", :icon => "Chevron", :size => "small"}